#layout {
  margin: 0 auto;
  max-width: 700px;
  padding: 1rem;
  padding-top: 0.5rem;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #logo {
      background-image: none;
    }

    a {
      display: inline-block;
      font-style: normal;
    }

    h3 {
      margin: 0.75rem;
    }
  }
}

#home {
  .title {
    text-align: center;
  }

  #filter {
    display: flex;
    justify-content: center;
    align-items: center;
    input {
      margin: 0 0.25rem;
    }
    button {
      background-color: #ff483b;
      color: white;
      border: 3px solid #ff483b;
      padding: 0.25rem 0.25rem;
    }
  }
  .blog {
    a {
      text-decoration: none;
      color: inherit;
    }

    .postmeta {
      display: flex;
      justify-content: space-between;
      color: #666;
      padding: 0.15rem;
    }
  }
}

#single {
  .title {
    text-align: center;
    margin: 0.5rem;
  }
  .category {
    text-align: center;
  }

  .content {
    padding-top: 2rem;

    img,
    iframe {
      display: block;
      margin: 1rem auto;
    }
  }
}
